body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* La famiglia del font */
    font-size: 18px; /* La dimensione del font principale nei tag <p></p> */
    background-image: url("/images/image2.png");
    background-repeat: no-repeat;
}
h1 {
    color: #000000; /* Il colore dell'intestazione */
    font-size: 48px; /* La dimensione del font dell'intestazione */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* La famiglia del font usata nell'intestazione */
}
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    color: #251507
}
img {
    width: 50%;
    height: auto;
    border-radius: 0.5em;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
}
.card-vetro {
    display: flex;
    gap: 0.7em;
    padding: 0.5em;
    border-radius: 1em;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    background: hsl(0, 0%, 100%, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 
        inset 0 0 8px rgba(255, 255, 255, 0.4), 
        
        /* Layer 2: Ombra esterna sottile e sfocata (SIMULA LA DISTORSIONE) */
        0 4px 6px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.3));
    
}
.space{
    padding: 0.5em;
}
.intestazione-vetro {
    gap: 0.2em;
    border-radius: 1em;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    background: hsl(0, 0%, 100%, 0.2);
    backdrop-filter: blur(2px); 
    box-shadow: 
        inset 0 0 8px rgba(255, 255, 255, 0.4), 
        
        /* Layer 2: Ombra esterna sottile e sfocata (SIMULA LA DISTORSIONE) */
        0 4px 6px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.3));
}
.testo-vetro{
    gap: 0.2em;
    padding: 0.5em;
    color: rgb(6, 30, 50);
    border-radius: 1em;
    border: 3px solid hsl(0, 0%, 100%, 0.4);
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(2px); 
    box-shadow: 
        inset 0 0 8px rgba(255, 255, 255, 0.4), 
        
        /* Layer 2: Ombra esterna sottile e sfocata (SIMULA LA DISTORSIONE) */
        0 4px 6px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.3));
}
.titolo-vetro {
    gap: 0.2em;
    border-radius: 1em;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    background: hsl(0, 0%, 100%, 0.2);
    backdrop-filter: blur(2px); 
    box-shadow: 
        inset 0 0 8px rgba(255, 255, 255, 0.4), 
        
        /* Layer 2: Ombra esterna sottile e sfocata (SIMULA LA DISTORSIONE) */
        0 4px 6px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.3));
}